<!DOCTYPE html>

<title>New Atelier</title>

{% block body %}
    <h1>Create new Atelier</h1>

    {{ include('atelier_crud/_form.html.twig') }}

    <a href="{{ path('app_atelier_crud_index') }}">back to list</a>
{% endblock %}
