# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.toxicity.rapidapi_key: '%env(default::RAPIDAPI_KEY)%'
    app.translation.api_url: '%env(string:TRANSLATION_API_URL)%'
    app.translation.api_key: '%env(string:TRANSLATION_API_KEY)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\EventListener\LoginSuccessListener:
        tags:
            # Priorité haute pour que notre redirection par rôle s'applique (événement = FQCN en Symfony 6)
            - { name: kernel.event_listener, event: Symfony\Component\Security\Http\Event\LoginSuccessEvent, method: onLoginSuccess, priority: 100 }

    App\EventListener\TwoFactorAuthenticationListener:
        tags:
            - { name: kernel.event_subscriber, priority: 200 }

    App\EventListener\RequireTwoFactorListener:
        tags:
            - { name: kernel.event_subscriber, priority: 190 }

    App\Service\PublicationTranslationService:
        arguments:
    App\Service\ToxicityAnalysisService:
        arguments:
            $rapidApiKey: '%app.toxicity.rapidapi_key%'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
